body {
    background-color: lightblue;
}
ul {
    background-color: lightgrey;
    max-width: 25%;
    margin-left: 20px;
}
ul li {
    background-color: beige;
}
h1 {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}